<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/uploadImages1.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/compareParameters.css') }}">
    <script src="{{ url_for('static', filename='../static/assets/js/compareParameters.js') }}"></script>
    <style>
         #velocity-value, #position-value, #velocity-uncertainty, #position-uncertainty {
        font-family: Arial, sans-serif;
    }
    </style>
</head>


<body>

    <div class="topbar">
        <div class="topbar-brand">SkyView</div>
            <span></span>
            <span></span>
            <span></span>
            <div class="navbar">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="#">Menu1</a>
                <a href="#">Menu2</a>
                <a href="#">Menu3</a>
            </div>


    </div>

    <div class="titlePar">
        Results
       </div>
       <div class="title-linePar"></div>

       <div class="transparent-background">

            <div class="Results-Background">
            <table class="parameters-table">
              <tr>
                    <th>Parameter Name</th>
                    <th>Estimated Value</th>
                    <th>Uncertainty</th>
                </tr>
                <tr>
                    <td>Object Velocity (vx, vy)</td>
                    <td id="velocity-value">-</td>
                    <td id="velocity-uncertainty">-</td>
                </tr>
                <tr>
                    <td>New Position (x, y)</td>
                    <td id="position-value">-</td>
                    <td id="position-uncertainty">-</td>
                </tr>
            </table>
          </div>



        <button  type="button" class ="btn-main" onclick="calculate_results()" style="margin-left: 44%; margin-top: 53%; width: 170px;">Calculate Results</button>

        </div>


        <button class="help-button">?</button>
        <a href="index.html">
            <button type="button" id="addButton" class="btn-back">&larr; </button>
        </a>

        </body>

     </html>

