<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyView Simulation Lobby</title>
    <link rel="stylesheet" href="../static/assets/css/main.css">
    <link rel="stylesheet" href="../static/assets/css/resources.css">
    <script src="{{ url_for('static', filename='../static/assets/js/simulationModel.js') }}"></script>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">SkyView</a>
            <nav id="nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="generic.html">Generic</a>
                <a href="#">Resources</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Lobby Title and Image -->
    <section id="lobby-title" style="text-align: center;">
        <h2>Educational Resources</h2>
          </section>

     <section style="text-align: center;">
        <div class="text-content">
        <p>SkyView simulations and interactives are designed to be used easily for a variety of purposes within the informal learning setting.</p>
        </div>
        </section>

     <section  style="text-align: center;">
        <img src="../static/images/1.webp" alt="View of Solar System Simulation" style="max-width: 50%; height: auto; margin-bottom: 70px;">
    </section>


    <!-- Section One -->
    <section id="one" class="wrapper">
        <div class="inner">
            <header>
                <h3>Exhibit Space</h3>
            </header>
            <div class="text-content" style="margin-top: -50px">
            <p>SkyView simulations can be incorporated into formal and informal exhibit spaces throughout your center.</p>
            </div>
            <div class="flex-container">
                <img src="../static/images/4.webp" alt="Sky Map Sample">
               <div class="text-content">
                <ul class="custom-bullet">
                    <li>Use the SkyView collection as a stand-alone exhibit.</li>
                    <li>Incorporate individual simulations into astronomy and Earth science exhibits.</li>
                    <li>Set up SkyView in a lobby, café, waiting area, library, or children's play area.</li>
                    <li>Support the SkyView exhibit with banners and labels.</li>
                </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Two -->
    <section id="two" class="wrapper" style="margin-top: -20px">
        <div class="inner">
            <header>
                <h3>Facilitated Activities</h3>
            </header>
            <div class="text-content" style="margin-top: -50px">
            <p>SkyView can be used as a primary or supplemental resource for presentations, tours, and exploration stations.</p>
            </div>
            <div class="flex-container">
                <img src="../static/images/6.webp" alt="Sky Map Sample">
               <div class="text-content">
                <ul class="custom-bullet">
                    <li>Incorporate SkyView content into formal presentations for engagement, exploration, or elaboration.</li>
                    <li>Set up SkyView on a tablet or laptop as part of an exploration station or cart.</li>
                    <li>Equip multiple tablets or laptops with SkyView at various stations to allow visitors to explore at their own pace, each one making his own model.</li>
                    <li>Support the SkyView exhibit with banners and labels.</li>
                </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="three" class="wrapper" style="margin-top: -80px">
        <div class="inner">
            <header>
                <h3>Educational Programming</h3>
            </header>
            <div class="text-content" style="margin-top: -50px">
            <p>SkyView can be used in multiple ways with school groups of a wide range of ages.</p>
            </div>
            <div class="flex-container">
                <img src="../static/images/5.webp" alt="Sky Map Sample">
               <div class="text-content">
                <ul class="custom-bullet">
                    <li>SkyView simulations can be used within presentations, discussions, and activities.</li>
                    <li>Supply teachers with direct links to built models for classroom use before or after their visit.</li>
                    <li>Demonstrate SkyView and provide students with the link to extend their learning experience at home.</li>
                </ul>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
