<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/uploadImages1.css') }}">
    <script src="{{ url_for('static', filename='assets/js/uploadImageFunctionality.js') }}"></script>
</head>

<body>

    <div class="topbar">
        <div class="topbar-brand">SkyView</div>
            <span></span>
            <span></span>
            <span></span>
            <div class="navbar">
               <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('home') }}#three">Explore</a>
                <a href="{{ url_for('open_resources') }}">Resources</a>
            </div>

        </button>
    </div>

    <div class="title">
        Image Database
      </div>
      <div class="title-line"></div>
      <div class="title-UploadImages">
          Upload Image:
      </div>

      <div class="transparent-background">

          <button class="file-button" onclick="triggerFileInput();">Choose file 📄</button>

        <div class="UploadData-background">
           <input type="file" id="fileInput" multiple style="display:none;" accept="image/*" onchange="uploadFiles(this.files); previewImage(this.files);">

            <img id="uploadIcon" src="../static/images/upload-icon.png" alt="Upload images">
            <div class="upload-text">Click the file button to upload images</div>
            <!-- Container for displaying the image preview -->
            <div id="imagePreviewContainer" style="width: 100%; height: auto; margin-top: 20px;"></div>
        </div>


      </div>


    <a href="{{ url_for('home') }}" class="btn-link">
      <button type="button" id="addButton" class="btn-main">Continue</button>
    </a>

     <div class="tooltip">
    <button class="help-button">?</button>
    <span class="tooltip-text">
        To upload images, click the 'Choose File' button and select the images you wish to add. Ensure that the images are in sequential order and are of the types 'png', 'jpg', 'jpeg', or 'gif'. After selecting your images, click 'Continue' to return to the home page. From there, navigate to the 'Build Model' section to view the results of your calculations.
    </span>
</div>

      <a href="{{ url_for('home') }}">
    <button type="button" class="btn-back">&larr; Back</button>
        </a>



</body>

</html>
