
.title-2{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 30px; /* Adjust size as needed */
    text-align: center;
    color: white;
    position: absolute; /* Position it relative to the nearest positioned ancestor or to the body if none is positioned */
    top: 25%; /* Adjust according to your design */
    left: 18%;
    transform: translate(-50%, -50%); /* Center the div */
    z-index: 2; /* Higher z-index to ensure it's above the semi-transparent background */

  }

  
  .form-container {
    color: white;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 60px; /* Moves the form down */
    margin-left: -290px; /* Moves the form to the left */
  
}

.form-group {
    display: flex;
    align-items:center;
    margin-bottom: 17px; /* Space between each label-input pair */
    width: 100%; /* Ensure the form group takes the full width of its container */
}

.form-group label {
    white-space: nowrap; /* Keeps the label in a single line */
    margin-right: 30px; /* Adds some space between the label and the input */
    width: 30%; /* Adjust this based on your longest label */
    text-align: right; /* Aligns the label text to the right */
}

.form-group input, 
.form-group select {
    flex-grow: 1; /* Allows input to grow and fill the available space */
    background: rgb(255, 255, 255); /* Slightly transparent white */
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    width: auto; /* Adjust to auto to allow flex-grow to manage width */
    max-width: 200px; /* Or any other max-width value you prefer */
}

.btn-add {
    background-color:  #5385c1; /* Button background color */
    color: rgb(255, 255, 255); /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Removes the default border */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    display: block; /* Block display to fit the full container width */
    width: 100px; /* Width of the button */
    height: 40px;
    margin: -5px 0 20px 293px; /* Centers the button and adds space above and below */
    font-size: 100%;
  }

  .btn-add:hover {
    background-color:  #5385c157; /* Darker color on hover */
    cursor: pointer;
}


.inner-transparent-background {
    background-color: rgba(51, 56, 57, 0.431); /* Grey with 70% opacity */
    position: absolute; /* Position it relative to its parent */
    top: 12%; /* Adjust these values as needed */
    right: 10%;
    width: 40%; /* Adjust the size as needed */
    height: 65%; /* Adjust the size as needed */
    border-radius: 5px; /* Optional: if you want rounded corners */
    padding: 10px; /* Adds padding inside the inner transparent background */
    justify-content: flex-start; /* Centers items vertically within the inner div */
    overflow-y: auto;
    
}

.object-box {
    background-color: rgba(255, 255, 255, 0.875); /* White with 50% opacity for contrast */
    margin: 10px 0 10px 21px; /* Spacing between object boxes */
    padding: 10px; /* Padding inside each object box */
    border-radius: 5px; /* Optional: rounded corners for the object boxes */
    width: auto; /* Adjust based on content size or set a fixed width */
    height: 90px;
    max-width: 90%; /* Ensures the box does not exceed the parent width */
    text-align: center; /* Centers the text inside the box */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: adds a subtle shadow for depth */
    position: relative; /* To position the delete button absolutely within the box */
    display: flex; /* To layout image and parameters side by side */
    align-items: center; /* To vertically center the content */
    justify-content: flex-start; /* Aligns content to start at the left edge of the container */
    padding-left: 0; /* Overrides any left padding */
    
}


.object-image {
    width: 110px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0px;
    margin-right: 10px; /* Space between image and parameters */
    border-radius: 5px;
}



.object-parameters p {
    font-family: 'spaceFont', sans-serif;
    display: flex; /* Makes the parameter a flex container */
    align-items: center; /* This ensures that parameters are stacked vertically */
    margin: 4px 0 0 -5px; /* Reduce space between parameters for compact display */
    font-size: 14px; /* Adjust as needed */
    color: rgb(0, 0, 0);
}

.parameter-label {
    color: rgb(0, 0, 0);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    min-width: 80px; /* Adjust this value based on your longest label */
    text-align: right; /* Aligns the text to the right of the label space */
    margin-right: 8px; /* Space between the label and the value */
}

.delete-button {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    border: none;
    background-color: #5385c1; /* Semi-transparent red */
    color: white;
    border-radius: 50%; /* Makes the button rounded */
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    font-weight: bold;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(51, 49, 49); /* Darker red on hover for better UI feedback */
}


/* Styles for the scrollbar track (background) */
.inner-transparent-background::-webkit-scrollbar-track {
    
    background-color: rgba(51, 56, 57, 0.56); /* Match the container background or choose another color */
}

/* Styles for the scrollbar handle */
.inner-transparent-background::-webkit-scrollbar-thumb {
  
    background-color: #5385c1; /* Sky-blue color for the scrollbar handle */
}

.inner-transparent-background::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* For Firefox */
.inner-transparent-background {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: skyblue rgba(51, 56, 57, 0.56); /* thumb and track color */
}

.btn-link {
    text-decoration: none;
}
